{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ parent() }} - {{ message }}{% endblock %}
{% block admin_content %}
<div class="container" style="font-size:12px">
    <div class="row">
    <center>
    	{% if locked %}
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign"></span> <strong>{{ 'aes.alerts.lockedHead'|trans }}</strong>
                <hr class="message-inner-separator">
                <p>{{ message }}</p>
                <hr class="message-inner-separator">
                <a href="{{ path('newscoop_admin_aes_unlock_article', {language: language, articleNumber: articleNumber }) }}"  class="btn btn-sm btn-primary">{{ 'aes.btn.unlock'|trans }}</a>
                <button type="button" class="btn btn-sm btn-default">{{ 'aes.btn.view'|trans }}</button>
                <a href="{{ Newscoop['WEBSITE_URL'] }}/admin/articles/?f_publication_id={{ publicationId }}&f_issue_number={{ issueId }}&f_language_id={{ languageId }}&f_section_number={{ sectionId }}" class="btn btn-sm btn-default">{{ 'aes.btn.cancel'|trans }}</a>
            </div>
        </div>
        {% else %}
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-hand-right"></span> <strong>{{ 'aes.alerts.notfoundHead'|trans }}</strong>
                <hr class="message-inner-separator">
                <p>{{ message }}</p>
                <hr class="message-inner-separator">
                <a href="{{ Newscoop['WEBSITE_URL'] }}/admin/articles/?f_publication_id={{ publicationId }}&f_issue_number={{ issueId }}&f_language_id={{ languageId }}&f_section_number={{ sectionId }}" class="btn btn-sm btn-default">{{ 'aes.btn.cancel'|trans }}</a>
            </div>
        </div>
        {% endif %}
    </center>
    </div>
</div>
{% endblock %}