<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ localeFromCookie }}">
<!--<![endif]-->
  <head>

    <base href="/bundles/newscoopeditor/">
    <link rel="stylesheet" href="css/plugin.css">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}?locales={{ localeFromCookie }},en"></script>
    <script type="text/javascript">
      var AES_SETTINGS = {{ userSettings|raw }};
    </script>
    
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="bower_components/ng-aloha-editor/libs/alohaeditor-0.26.4/aloha/css/aloha.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link href="bower_components/gc-angular-toaster/toaster.css" rel="stylesheet">

        <link rel="stylesheet" href="styles/main.css"/>

        <!-- custom content stylesheet -->
        <link rel="stylesheet" href="css/aes-custom-styles.css">
        <style rel="stylesheet">
            {{ custom_styles|raw }}
        </style>
        
</head>
  <body ng-app="authoringEnvironmentApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-view=""></div>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    
    <!-- select2 requirements (besides jquery and angular) -->
    <link rel="stylesheet" href="bower_components/select2/select2.css">
    <script type="text/javascript" src="bower_components/select2/select2.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-select2/src/select2.js"></script>
    <!-- end select2 requirements -->

    <!-- *** ngTagsInput requirements (besides jquery and angular) *** -->
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css">
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.bootstrap.css">
    <script type="text/javascript" src="bower_components/ng-tags-input/ng-tags-input.js"></script>
        <!-- *** end ngTagsInput requirements *** -->

    <script src="bower_components/requirejs/require.js"></script>
    <script src="bower_components/ng-aloha-editor/libs/alohaeditor-0.26.4/aloha/lib/vendor/jquery-1.7.2.js"></script>
    <script src="bower_components/angular-symfony-translation/dist/angular-symfony-translation.js"></script>
    <script type="text/javascript">
    var Aloha = window.Aloha || ( window.Aloha = {} );
    // Load your Plugins here, can't be done after Aloha has loaded
    // block.defaults is required for undo/redo in order to re-create
    // custom blocks after undo/redo actions
    Aloha.settings = {
        plugins: {
            load: "common/ui, common/format, common/paste, common/block, common/list, common/table, common/contenthandler, aes/quotes, aes/snippet, aes/nsimage, aes/undo",
            block: {
                defaults: {
                    '.aloha-image-block': {
                        "aloha-block-type": "ImageBlock"
                    },
                    '.aloha-snippet-block': {
                        "aloha-block-type": "SnippetBlock"
                    }
                }
            }
        },
        bundles: {
            aes: '../../../../../../scripts/aloha/plugins/aes'
        },
        smartContentChange: {
            idle: 500,
            delay: 250
        },
        contentHandler: {
            insertHtml: [ 'sanitize' ],
            initEditable: [],
            getContents: [],
            handler: {
                sanitize: {
                    '.aloha-editable': { 
                        elements: ['strong', 'em', 'i', 'b', 'blockquote', 'br', 'cite',
                            'code', 'dd', 'div', 'dl', 'dt', 'em', 'i', 'li', 'ol', 'p',
                            'pre', 'q', 'small', 'strike', 'sub', 'sup', 'u', 'ul', 'h1',
                            'h2', 'h3', 'h4', 'h5', 'img', 'video', 'audio']
                    }
                }
            }
        }
    }
    // Restore the global $ and jQuery variables of your project's jQuery
    Aloha.settings.jQuery = window.jQuery.noConflict(true);
    </script>
    <script src="bower_components/ng-aloha-editor/libs/alohaeditor-0.26.4/aloha/lib/aloha.js"></script>

    <script>
    var ngAlohaEditorConfig = { baseUrl: 'bower_components/ng-aloha-editor/' };
    </script>

        <script src="scripts/modules.js"></script>

        <script src="scripts/scripts.js"></script>
</body>
</html>